* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

.header {
  background: darkolivegreen; }
  @media (max-width: 1200px) {
    .header {
      height: 60px; } }
  @media (min-width: 1201px) {
    .header {
      height: 45px; } }

.main {
  padding: 60px 0; }

.footer {
  background: #999; }

.container {
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .container {
      padding: 0 20px; } }
  @media (min-width: 1201px) {
    .container {
      width: 1200px; } }
  .container--content {
    padding: 0 20px; }
  .container--header {
    height: inherit;
    display: flex;
    align-items: center; }
  .container--footer {
    padding-top: 15px;
    padding-bottom: 30px; }

.site-branding {
  font-size: 28px;
  font-weight: bold;
  color: white; }
  @media (max-width: 767px) {
    .header .site-branding {
      order: 1; } }

.nav--header {
  position: relative;
  z-index: 1030;
  height: inherit; }
  @media (max-width: 767px) {
    .nav--header {
      order: 0; } }

.nav--footer {
  display: flex; }
  @media (max-width: 767px) {
    .nav--footer {
      flex-direction: column; } }

.nav--footer .nav__col:not(:last-child) {
  margin-right: 30px; }

.menu {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none; }
  @media (max-width: 767px) {
    .menu--hamburger {
      flex-direction: column;
      align-items: flex-start;
      display: none; }
      .menu--hamburger:before {
        content: "";
        z-index: -1;
        position: fixed;
        top: 0;
        left: -50%;
        display: block;
        width: 5000px;
        height: 5000px;
        background: #f0f0f0; } }
  @media (min-width: 768px) {
    .menu--hamburger {
      flex-direction: row;
      align-items: center;
      height: 100%; } }
  .menu--vertical {
    flex-direction: column;
    align-items: flex-start; }
    @media (max-width: 767px) {
      .menu--vertical:not(.open) {
        display: none; } }
  .menu.open {
    position: relative;
    display: flex; }
  @media (max-width: 767px) {
    .menu--dark:before {
      background: #333; } }
  .menu--dark a {
    color: white; }
  .menu a {
    text-decoration: none; }
    .menu a:hover {
      text-decoration: underline; }
  .menu-toggle {
    padding: 0;
    margin-right: 15px;
    height: 100%;
    font-size: inherit;
    font-weight: inherit;
    background: transparent;
    border: 0; }
    .menu-toggle--dark {
      color: white; }
      .menu-toggle--dark svg {
        fill: inherit; }
    @media (min-width: 768px) {
      .menu-toggle--hamburger {
        display: none; } }
    .menu-toggle.open .icon-menu {
      display: none; }
    .menu-toggle:not(.open) .icon-close {
      display: none; }
  .menu__item {
    padding: 15px; }
    @media (max-width: 767px) {
      .menu__item {
        width: 100%; } }
    @media (min-width: 768px) {
      .menu__item {
        display: inline-block; } }
  .menu--vertical .menu__item {
    padding: 7.5px 0; }
