.header {
	background: darkolivegreen;

	@include breakpoint-until(1200px) {
		height: 60px;
	}
	@include breakpoint-from(1201px) {
		height: 45px;
	}
}

.main {
	padding: 60px 0;
}

.footer {
	background: #999;
}

.container {
	margin: 0 auto;

	@include breakpoint-until(1200px) {
		padding: 0 20px;
	}
	@include breakpoint-from(1201px) {
		width: 1200px;
	}

	&--content {
		padding: 0 20px;
	}

	&--header {
		height: inherit;
		display: flex;
		align-items: center;
	}

	&--footer {
		padding-top: 15px;
		padding-bottom: 30px;
	}
}

.site-branding {
	font-size: 28px;
	font-weight: bold;
	color: white;

	.header & {
		@include breakpoint-until(767px) {
			order: 1;
		}
	}
}
